.App {
	font-family: Arial, sans-serif;
	margin: 0 auto;
	padding: 20px;

	h1 {
		text-align: center;
	}

	.filters {
		margin-bottom: 20px;
		text-align: center;

		input[type="text"] {
			padding: 8px;
			font-size: 16px;
			width: 100%;
			max-width: 300px;
		}
	}

	.character-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 20px;

		.character-card {
			background-color: #f0f0f0;
			padding: 20px;
			border-radius: 8px;

			h2 {
				margin-top: 0;
			}

			button {
				background-color: #007bff;
				color: #fff;
				padding: 10px 20px;
				border: none;
				border-radius: 4px;
				cursor: pointer;
				transition: background-color 0.3s ease;

				&:hover {
					background-color: #0056b3;
				}
			}
		}
	}

	.pagination {
		overflow-x: auto; // добавим горизонтальную прокрутку
		white-space: nowrap; // чтобы кнопки были в одной строке
		text-align: center;
		margin-top: 20px;

		button {
			background-color: #007bff;
			color: #fff;
			padding: 10px 15px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			margin: 0 3px;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #0056b3;
			}

			&:disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}

	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;

		.modal-content {
			background-color: #fff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

			h2 {
				margin-top: 0;
			}

			img {
				max-width: 100%;
				border-radius: 8px;
				margin-bottom: 10px;
			}

			p {
				margin: 0;
			}

			button {
				background-color: #007bff;
				color: #fff;
				padding: 10px 20px;
				border: none;
				border-radius: 4px;
				cursor: pointer;

				&:hover {
					background-color: #0056b3;
				}
			}
		}
	}
}